[submodule "master"]
	path = master
	url = https://github.com/teiid/teiid-documents
	branch = master-gh-pages
[submodule "10.2.x"]
	path = 10.2.x
	url = https://github.com/teiid/teiid-documents
	branch = 10.2.x-gh-pages
[submodule "10.1.x"]
	path = 10.1.x
	url = https://github.com/teiid/teiid-documents
	branch = 10.1.x-gh-pages
[submodule "10.0.x"]
	path = 10.0.x
	url = https://github.com/teiid/teiid-documents
	branch = 10.0.x-gh-pages
[submodule "9.3.x"]
	path = 9.3.x
	url = https://github.com/teiid/teiid-documents
	branch = 9.3.x-gh-pages
[submodule "9.2.x"]
	path = 9.2.x
	url = https://github.com/teiid/teiid-documents
	branch = 9.2.x-gh-pages
[submodule "9.0.x"]
	path = 9.0.x
	url = https://github.com/teiid/teiid-documents
	branch = 9.0.x-gh-pages
