[submodule "master"]
	path = master
	url = https://github.com/teiid/teiid-documents
	branch = master-gh-pages
[submodule "10.2.x"]
	path = 10.2.x
	url = https://github.com/teiid/teiid-documents
	branch = 10.2.x-gh-pages
[submodule "10.1.x"]
	path = 10.1.x
	url = https://github.com/teiid/teiid-documents
	branch = 10.1.x-gh-pages
[submodule "10.0.x"]
	path = 10.0.x
	url = https://github.com/teiid/teiid-documents
	branch = 10.0.x-gh-pages
[submodule "9.3.x"]
	path = 9.3.x
	url = https://github.com/teiid/teiid-documents
	branch = 9.3.x-gh-pages
[submodule "9.2.x"]
	path = 9.2.x
	url = https://github.com/teiid/teiid-documents
	branch = 9.2.x-gh-pages
[submodule "9.0.x"]
	path = 9.0.x
	url = https://github.com/teiid/teiid-documents
	branch = 9.0.x-gh-pages
[submodule "9.1.x"]
	path = 9.1.x
	url = https://github.com/teiid/teiid-documents
	branch = 9.1.x-gh-pages
[submodule "10.3.x"]
	path = 10.3.x
	url = https://github.com/teiid/teiid-documents
	branch = 10.3.x-gh-pages
[submodule "11.0.x"]
	path = 11.0.x
	url = https://github.com/teiid/teiid-documents
	branch = 11.0.x-gh-pages
[submodule "11.1.x"]
	path = 11.1.x
	url = https://github.com/teiid/teiid-documents
	branch = 11.1.x-gh-pages
[submodule "11.2.x"]
	path = 11.2.x
	url = https://github.com/teiid/teiid-documents
	branch = 11.2.x-gh-pages
[submodule "12.0.x"]
	path = 12.0.x
	url = https://github.com/teiid/teiid-documents
	branch = 12.0.x-gh-pages
[submodule "12.1.x"]
	path = 12.1.x
	url = https://github.com/teiid/teiid-documents
	branch = 12.1.x-gh-pages
[submodule "12.2.x"]
	path = 12.2.x
	url = https://github.com/teiid/teiid-documents
	branch = 12.2.x-gh-pages
[submodule "12.3.x"]
	path = 12.3.x
	url = https://github.com/teiid/teiid-documents
	branch = 12.3.x-gh-pages
[submodule "13.0.x"]
	path = 13.0.x
	url = https://github.com/teiid/teiid-documents
	branch = 13.0.x-gh-pages
[submodule "13.1.x"]
	path = 13.1.x
	url = https://github.com/teiid/teiid-documents
	branch = 13.1.x-gh-pages
[submodule "7.6-13.0.x"]
	path = 7.6-13.0.x
	url = https://github.com/teiid/teiid-documents
	branch = 7.6-13.0.x-gh-pages
