language: node_js
    - "8.9.0"

install:
    - npm install -g gitbook-cli
    - gitbook install
    - sudo -v && wget -nv -O- https://download.calibre-ebook.com/linux-installer.py | sudo python -c "import sys; main=lambda:sys.stderr.write('Download failed\n'); exec(sys.stdin.read()); main()"
    
script: 
    - gitbook build teiid-documents
    - gitbook pdf ./ teiid-documents.pdf

after_success: |
    if [ -n "$GITHUB_API_KEY" ]; then
    git checkout --orphan $TRAVIS_BRANCH-gh-pages
    git rm -rf .
    git add -f --ignore-errors --all teiid-documents teiid-documents.pdf
    git -c user.name='travis' -c user.email='travis' commit -m 'ci publishing'
    git push -f -q https://$GITHUB_USER:$GITHUB_API_KEY@github.com/$TRAVIS_REPO_SLUG $TRAVIS_BRANCH-gh-pages
    fi
